In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv("article_a.csv")

In [3]:
df.shape

(2423311, 5)

In [4]:
df.head(3)

,title,author,year,journal,pages
0,Spectre Attacks: Exploiting Speculative Execut...,Paul Kocher::Daniel Genkin::Daniel Gruss::Wern...,2018.0,meltdownattack.com,NaN
1,Meltdown,Moritz Lipp::Michael Schwarz 0001::Daniel Grus...,2018.0,meltdownattack.com,NaN
2,An Evaluation of Object-Oriented DBMS Developm...,Frank Manola,1994.0,GTE Laboratories Incorporated,NaN

In [6]:
df.drop(['title' , 'author' , 'pages'], axis=1 , inplace=True)

KeyError: "['title' 'author' 'pages'] not found in axis"

In [7]:
df.head(3)

     year                        journal
0  2018.0             meltdownattack.com
1  2018.0             meltdownattack.com
2  1994.0  GTE Laboratories Incorporated

In [8]:
df=df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]

In [9]:
df.shape

(2423084, 2)

In [ ]:
df.dtypes

In [10]:
df['year'] = df.year.astype(int)

In [11]:
df = df.sort_values(by='year')

In [12]:
df = df.reset_index(drop=True)

In [13]:
df

         year                            journal
0        1936                      J. Symb. Log.
1        1936                      J. Symb. Log.
2        1936                      J. Symb. Log.
3        1936                      J. Symb. Log.
4        1936                      J. Symb. Log.
...       ...                                ...
2423079  2021                 Expert Syst. Appl.
2423080  2021       IEEE Trans. Ind. Informatics
2423081  2021  IEEE Trans. Inf. Forensics Secur.
2423082  2021             J. Comput. Appl. Math.
2423083  2021          IEEE Control. Syst. Lett.

[2423084 rows x 2 columns]

In [14]:
df2=df.copy(deep=True)

In [15]:
df3 = df.groupby(['year' , 'journal'])['year'].count().reset_index(name='count')

In [16]:
df3

       year                      journal  count
0      1936                J. Symb. Log.     12
1      1937                J. Symb. Log.     15
2      1938                J. Symb. Log.     10
3      1939                J. Symb. Log.     18
4      1940                J. Symb. Log.     10
...     ...                          ...    ...
30216  2021      Reliab. Eng. Syst. Saf.     50
30217  2021              SN Comput. Sci.      9
30218  2021        Sci. Comput. Program.      5
30219  2021              Signal Process.     43
30220  2021  Simul. Model. Pract. Theory     24

[30221 rows x 3 columns]

In [ ]:
df4 = pd.get_dummies(df3, columns=['year'], drop_first=True, prefix='year')

In [ ]:
df4.shape

In [ ]:
df4.head(2)

In [18]:
df5 = pd.get_dummies(df4, columns=['journal'], drop_first=True, prefix='year')

In [19]:
df5.head(2)

,year,count,year_ACM Commun. Comput. Algebra,year_ACM Comput. Surv.,year_ACM Crossroads,year_ACM J. Comput. Documentation,year_ACM J. Data Inf. Qual.,year_ACM J. Educ. Resour. Comput.,year_ACM J. Emerg. Technol. Comput. Syst.,year_ACM J. Exp. Algorithmics,...,year_ZOR Methods Model. Oper. Res.,year_e Informatica Softw. Eng. J.,year_e Minds Int. J. Hum. Comput. Interact.,year_eLearn Mag.,year_i-com,year_iJET,year_it Inf. Technol.,year_login Usenix Mag.,year_meltdownattack.com,year_计算机科学
0,1936,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1937,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
train = df5.iloc[0:24577 , 0:] 
test = df5.iloc[24577: , 0:]

In [21]:
xtrain = train['count']
train.drop('count' ,axis=1 , inplace = True)

# DecisionTreeRegressor

In [22]:
# create a regressor object 
regressor = DecisionTreeRegressor(random_state = 0)  
  
# fit the regressor with X and Y data 
regressor.fit(train, xtrain)

DecisionTreeRegressor(random_state=0)

In [23]:
y_pred = regressor.predict(test.iloc[: , 1:])

In [24]:
rms = mean_squared_error(test.iloc[: , 0:1], y_pred, squared=False)

In [25]:
rms

2087.732847303028

# RandomForestRegressor

In [ ]:
# create a regressor object 
regressor = RandomForestRegressor(max_depth=2, random_state=0)
  
# fit the regressor with X and Y data 
regressor.fit(train, xtrain)

In [ ]:
y_pred = regressor.predict(test.iloc[: , 1:])

In [ ]:
rms = mean_squared_error(test.iloc[: , 0:1], y_pred, squared=False)

In [ ]:
rms

In [ ]:
X_embedded = TSNE(n_components=2).fit_transform(train)

In [ ]:
from bioinfokit.visuz import cluster
cluster.tsneplot(score=X_embedded)

In [ ]:
all_features = df5[:,1:]
aaX_embedded = TSNE(n_components=2).fit_transform(all_features.head(3))